<p>add-student works!</p>
<div>
  <h1>{{ student.id ? "Update Student" : "Add Student" }}</h1>
</div>
<form #productForm="ngForm" (ngSubmit)="changeData()">

    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="student.name" /><br>

    <label>Gender</label>
    <select name="gender" [(ngModel)]="student.gender">
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select><br>

    <label>Email</label>
    <input type="email" name="email" [(ngModel)]="student.email" /><br>

    <label>phone</label>
    <input type="number" name="phone" [(ngModel)]="student.phone" /><br>

  <button type="submit">Send Data</button>
</form>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>phone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let single of students">
    <td>{{ single.id }}</td>
    <td>{{ single.name }}</td>
    <td>{{ single.gender }}</td>
    <td>{{ single.email }}</td>
    <td>{{ single.phone }}</td>
    <td>
      <button type="button" (click)="fillData(single)">Edit</button>
      <button type="button" (click)="delete(single.id)">Delete</button>
    </td>
  </tr>
</table>


<!-- <table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>mobile</th>
    <th>delete</th>
    <th>getS</th>
    <th>edit</th>
  </tr>
  <tr *ngFor="let single of students">
    <td>{{ single.id }}</td>
    <td>{{ single.name }}</td>
    <td>{{ single.email }}</td>
    <td>{{ single.mobile }}</td>
    <td><button (click)="delete(single.id)">delete</button></td>
    <td><a [routerLink]="['/singlestudents', single.id]">view</a></td>
    <td><a [routerLink]="['/updatestudent', single.id]">edit</a></td>
    <button></button>
  </tr>
</table> -->

<hr><hr>