<p>customer works!</p>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Gender</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>Pincode</th>
    <th>City</th>
    <th>phone</th>
    <th>T&C</th>
    <th>delete</th>
    <th>Edit</th>
    <th>GS</th>
  </tr>
  <tr *ngFor="let single of customers">
    <td>{{ single.id }}</td>
    <td>{{ single.Name }}</td>
    <td>{{ single.Email }}</td>
    <td>{{ single.Password }}</td>
    <td>{{ single.Gender }}</td>
    <td>{{ single.Mobile }}</td>
    <td>{{ single.Age }}</td>
    <td>{{ single.Pincode }}</td>
    <td>{{ single.City }}</td>
    <td>{{ single.phone }}</td>
    <td>{{ single.TandC }}</td>
    <td>
      <button type="button" (click)="removeData(single.id)">delete</button>
    </td>
    <td><a [routerLink]="['/edit', single.id]"> edit</a></td>
    <td><a [routerLink]="['/singleView', single.id]"> view</a></td>
  </tr>
</table>

<h1 class=" text-center text-warning">FILL CUSTOMER DETAILS</h1>
<div class="container mb-5 border border-primary">

  <h1>{{addCustomer.id ? "Update customer": "Add customer"}}</h1>

  <form (ngSubmit)="postData()">
    <label>Name</label>
    <input type="text" name="Name" required [(ngModel)]="addCustomer.Name" /><br>

    <label>Email</label>
    <input type="email" required name="Email" [(ngModel)]="addCustomer.Email" /><br>

    <label>Password</label>
    <input type="Password" required name="Password" [(ngModel)]="addCustomer.Password" /><br>

    <label>Gender</label>
    <select required required name="Gender" [(ngModel)]="addCustomer.Gender">
      <option selected disabled value="">Gender</option>
      <option value="MALE">male</option>
      <option value="FEMALE">female</option>
    </select><br>

    <label>Mobile</label>
    <input type="tel" name="Mobile" [(ngModel)]="addCustomer.Mobile" required /><br>

    <label>Age</label>
    <input type="number" name="Age" required [(ngModel)]="addCustomer.Age" /><br>

    <label>Pincode</label>
    <input type="number" name="Pincode" required [(ngModel)]="addCustomer.Pincode" /><br>

    <label>City</label>
    <input type="text" name="City" [(ngModel)]="addCustomer.City" /><br>

    <label>Please select your favorite mobile:</label><br />
    <input type="radio" name="fav_product" value="oneplus" [(ngModel)]="addCustomer.phone" />
    <label>Oneplus</label><br />
    <input type="radio" name="fav_product" value="samsung" [(ngModel)]="addCustomer.phone" />
    <label>Sumsung</label><br />
    <input type="radio" name="fav_product" value="apple" [(ngModel)]="addCustomer.phone" />
    <label>Apple</label><br />

    <input type="checkbox" required name="TandC" [(ngModel)]="addCustomer.TandC" />
    <label>T&C</label><br />

    <button type="submit" class="btn btn-primary">
      submit
    </button>
  </form>
  <!-- <button type="button" (click)="fillData(single)"> edit</button> -->
</div>
