
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-two-way-binding></app-two-way-binding>
<hr><hr>
<app-child-to-parent (updateDataEvent)="updateData($event)"></app-child-to-parent>
<hr><hr>
<app-child [item]="data"></app-child>
<button (click)="updateChild()">Update Child Component</button>
<hr> <hr>
<app-todo-list></app-todo-list>
<hr><hr>
<app-user-list></app-user-list>
<hr><hr>
<app-header></app-header>
<hr><hr>
<app-sign-up></app-sign-up>
<hr><hr>
<app-login></app-login> 
<hr><hr>
 <app-forms></app-forms>
 <hr><hr>
 <app-get-data></app-get-data>
 <hr><hr>
<app-input-box-val></app-input-box-val> -->
<!-- <hr><hr>
<h5 class="heading">Hello Angular {{title}}</h5>
<button (click)="getName('omkar','baacha')">click me</button>
<hr><hr> -->
<!-- Make Counter -->
<!-- <button (click)="counter('minus')">minus</button>
<p>{{count}}</p>
<button (click)="counter('add')">add</button>
<hr/><hr>
<h3>{{reuse}}</h3>
<ul *ngFor="let user of userInfo">
  <app-reuseable-component [item]='user' ></app-reuseable-component>
</ul> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <h1>Omkar App</h1>
<a routerLink="">Home</a><br>
<a routerLink="about">about</a><br>
<br>
<br>
<br>-->
<!-- Dynamic Routing -->
<!-- <a routerLink="user/10" >Anil</a><br>
<a routerLink="user/20">Sam</a><br>
<a routerLink="user/30">Marty</a>
<router-outlet></router-outlet> -->
<!-- <h1>{{title}} </h1>
<ul>
  <li *ngFor="let item of users">
  {{item.title}} 
  </li>
</ul>
<app-footer></app-footer> -->
<!-- <app-post-api></app-post-api> -->
<!-- <a routerLink="login">login</a>
<router-outlet></router-outlet> -->
<!-- <a routerLink="abc">auth</a> -->
<!-- <router-outlet></router-outlet> -->
<app-reactive></app-reactive>