<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 class="fw-bold">{{ blogData._id ? "Update Blog" : "Create Blog" }}</h2>
  <button type="button" class="btn-close " mat-dialog-close aria-label="Close"></button>
</div>
  <mat-dialog-content class="mat-typography">
    <form class="form" #BlogForm="ngForm">
      <div class="row">
        <div class="form-group col-lg-6">
          <label class="form-label" for="Title1">Title*</label>
          <input [(ngModel)]="blogData.title" #title="ngModel" pattern="^[a-zA-Z_]*$"
            [class.is-invalid]="title.invalid && title.touched" name="title" type="text" id="Title1"
            class="form-control  rounded-0" required>
          <div *ngIf="title.errors && (title.valid || title.touched)">
            <small [class.d-none]="title.valid || title.untouched" class="text-danger" *ngIf="title.hasError('required')">
              Title is required</small>
            <small [class.d-none]="title.valid || title.untouched" class="text-danger" *ngIf="title.hasError('pattern')">
              Title is not valid</small>
          </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="tags1" class=" form-label">Tags<span class="fw-lighter fst-italic"> (Optional)</span></label>
        <input [(ngModel)]="blogData.tags" id="tags1" #tags="ngModel" [class.is-invalid]="tags.invalid && tags.touched"
          name="tags" type="text" class="form-control  rounded-0">
      </div>
  <div class="form-group col-lg-6">
    <label for="category1" class="form-label">Category*</label>
    <input [(ngModel)]="blogData.category" id="category1" pattern="^[a-zA-Z_]*$" #category="ngModel"
      [class.is-invalid]="category.invalid && category.touched" name="category" type="text"
      class="form-control  rounded-0" required>
          <div *ngIf="category.errors && (category.valid || category.touched)">
            <small [class.d-none]="category.valid || category.untouched" class="text-danger" *ngIf="category.hasError('required')">
              category is required</small>
            <small [class.d-none]="category.valid || category.untouched" class="text-danger" *ngIf="category.hasError('pattern')">
              category is not valid</small>
          </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="subcategory1" class="form-label">Sub Category<span class="fw-lighter fst-italic">
            (Optional)</span></label>
        <input id="subcategory1" [(ngModel)]="blogData.subcategory" #subCategory="ngModel"
          [class.is-invalid]="subCategory.invalid && subCategory.touched" name="subcategory" type="text"
          class="form-control  rounded-0">
        </div>
      <div class="form-group">
        <label class="form-label" for="12">Body*</label>
        <textarea name="body" placeholder="Body goes here....." [(ngModel)]='blogData.body' pattern="^[a-zA-Z_]*$" #body="ngModel"
          class="form-control" id="12" rows="3" required></textarea>
        <!-- <small class="text-danger" [class.d-none]="body.valid || body.untouched">Body is required</small> -->
          <div *ngIf="body.errors && (body.valid || body.touched)">
            <small [class.d-none]="body.valid || body.untouched" class="text-danger"
              *ngIf="body.hasError('required')">
              Body is required</small>
            <small [class.d-none]="body.valid || body.untouched" class="text-danger" *ngIf="body.hasError('pattern')">
              Body is not valid</small>
          </div>
      </div>
      
      <div class="form-check mt-2">
        <input [(ngModel)]="blogData.isPublished" name="isPublished" class="form-check-input" type="checkbox" value=true
          id="check">
        <label for="check" class="fw-bold form-check-label" for="check">
          Do you wanna publish this blog?
        </label>
      </div>
    </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <div class="preloader-container text-center me-2" *ngIf="loading">
        <!-- <mat-spinner class="mx-auto mt-3"></mat-spinner> -->
        <img src="../../../assets/Eclipse-1s-200px.svg" width="50px">
      </div>
    <button mat-button (click)="reset(BlogForm)" (click)="changeData()" type="button"
      class="btn btn-success float-right">{{ blogData._id ? "Update Blog" : "Create Blog" }}</button>
  </mat-dialog-actions>
