<p style="color:blueviolet" class="heading">login works!</p>
<style>
  .heading{
     color:blue
  }
</style>

<!-- priority of css is :
first priority is inline css
second priority is style tag css in same file
third priority is css from css file
and last is from global css file -->


<!-- property binding -->
<input type="text" #box10  name="user-name" value={{name}} disabled={{disabl}}/> <!-- this is interpolation {{}} ye bas string or number values ko hi bind krta hai boolen ko as a string consider krta hai -->
<!-- <button (click)="disable(box10.value)">boolean</button> -->
<button (keyUp)="keyup(box10.value)" (keyDown)="keyDown(box10.value)">boolean</button>

<br/> <br/>
<input type="text" (mouseover)="keyup(box11.value)" (mouseleave)="keyDown(box11.value)" #box11 name="user-name" [value]=name [disabled]=disabl/><!-- ye boolean data type ko bhi accept krta hai-->
<!-- <button (click)="disable(box11.value)">boolean</button> -->
<button (keyUp)="keyup(box11.value)" (keyDown)="keyDown(box11.value)">boolean property</button>
