<div id="intro" class="row pt-3">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="" mb-0>
          Register
        </h3>
      </div>
      <div class="card-body">
        <!-- {{registerUserData | json}} -->
        <form class="form" #userForm="ngForm">
          <div class="form-group">
            <label class="mb-1" for=""><b>First Name*</b></label>
            <input [(ngModel)]="registerUserData.fname" #fname="ngModel"
              [class.is-invalid]="fname.invalid && fname.touched" name="firstName" type="text"
              class="form-control  rounded-0" required>
            <small class="text-danger" [class.d-none]="fname.valid || fname.untouched"> First name is required</small>
          </div>
          <div class="form-group">
            <label class="mb-1" for=""><b>Last Name*</b></label>
            <input [(ngModel)]="registerUserData.lname" #lname="ngModel" name="lastName" type="text"
              [class.is-invalid]="lname.invalid && lname.touched" class="form-control rounded-0" required>
            <small class="text-danger" [class.d-none]="lname.valid || lname.untouched"> Last name is required</small>
          </div>


          <div class="form-group">
            <label class="mb-1" for=""><b>Title*</b></label>
            <br>
            <div class="form-check form-check-inline">
              <input [(ngModel)]="registerUserData.title" class="form-check-input" #title='ngModel' required
                type="radio" value="Mr" name="title" id="Mr">
              <label class="form-check-label" for="Mr">
                Mr
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input [(ngModel)]="registerUserData.title" class="form-check-input" #title='ngModel' required
                type="radio" value="Mrs" name="title" id="Mrs">
              <label class="form-check-label" for="Mrs">
                Mrs
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input [(ngModel)]="registerUserData.title" class="form-check-input" #title='ngModel' required
                type="radio" value="Miss" name="title" id="Miss">
              <label class="form-check-label" for="Miss">
                Miss
              </label>
            </div>

            <div *ngIf="title.errors && (email.touched)">
              <small class="text-danger" *ngIf="title.hasError('required')">
                Title is required</small>
            </div>
          </div>

          <div class="form-group">
            <label class="mb-1" for=""><b>Email*</b></label>
            <input [(ngModel)]="registerUserData.email" #email="ngModel"
              [class.is-invalid]="email.invalid && email.touched"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" type="text"
              class="form-control is-invalid rounded-0" required>
            <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email address is required and must be valid</small> -->
            <small class="text-danger">{{message}}</small>

            <div *ngIf="email.errors && (email.valid || email.touched)">
              <small [class.d-none]="email.valid || email.untouched" class="text-danger"
                *ngIf="email.hasError('required')">
                Email is required</small>
              <small [class.d-none]="email.valid || email.untouched" class="text-danger"
                *ngIf="email.hasError('pattern')">
                Email address must be valid</small>
            </div>
          </div>
          <div class="form-group">
            <label class="mb-1 mt-2" for=""><b>Password*</b></label>
            <input [(ngModel)]="registerUserData.password" name="password" #pass="ngModel"
              [class.is-invalid]="pass.invalid && pass.touched" type="password"
              pattern="^(?!\S*\s)(?=\D*\d)(?=.*[!@#$%^&*])(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z]).{8,15}$"
              class="form-control rounded-0" required>
            <div *ngIf="pass.errors && (pass.invalid || pass.touched)">
              <small [class.d-none]="pass.valid || pass.untouched" class="text-danger"
                *ngIf="pass.hasError('required')">
                Password is required</small>
              <small [class.d-none]="pass.valid || pass.untouched" class="text-danger" *ngIf="pass.hasError('pattern')">
                Your password must be have at least <br>
                <ul>
                  <li>8 characters long</li>
                  <li>1 uppercase , 1 lowercase character</li>
                  <li>1 special character & 1 number</li>
                </ul>
              </small>
            </div>
          </div>
          <button [disabled]="userForm.form.invalid" (click)="registeringUser()" type="button"
            class="btn btn-primary mt-3 float-right">Register</button>
          <!-- <span class="text-success pt-3 mt-2 ms-3">{{success}}</span> -->
        </form>
      </div>
    </div>

  </div>
</div>