<p>test2 works!</p>
<p>omkar-number works!</p>
<h2 *ngIf="true ;else elseblock">
    omkar
</h2>
<ng-template #elseblock>
    <h2>
  bacha
    </h2>
</ng-template> -->


<div *ngIf="false ; then ifblock ;else elseblock"></div>
<ng-template #ifblock>
<h2> hii</h2>
</ng-template>


<ng-template #elseblock>
<h2>bye</h2>
</ng-template>

 <div *ngIf ="false ;then ifblock ;else otherwise"> </div>
<ng-template #ifblock>
<h1>hii</h1>
</ng-template>

<ng-template #otherwise>
<h1>bye</h1>
</ng-template> 
 `<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'"> r</div>
    <div *ngSwitchCase="'blue'"> b</div>
    <div *ngSwitchCase="'green'"> g</div>
  
  
  </div>` 
<h1>{{date | date:'short'}}</h1>
