<p>sign-up works!</p>
<h1>{{title}}</h1>
<!-- <h1 *ngIf="show else elseBlock">if its true then run this line</h1> -->
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>if condition</h1>

</ng-template>
<ng-template #elseBlock>
  <h1>else condition</h1>
</ng-template>



//-------------multiple condition or else if #16
<h1>{{title}}</h1>
<ng-template [ngIf]="color==='red'">
  <h1 style="color:red">Red Colour</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h1 style="color:green">greem Colour</h1>
</ng-template>


//switch case
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color:red">Red Colour</h1>
  <h1 *ngSwitchCase="'green'" style="color:green">Red Colour</h1>
  <h1 *ngSwitchCase="'blue'" style="color:blue">Red Colour</h1>
  <h1 *ngSwitchDefault>unknown Colour</h1>
</div>


//For loop
<h3 *ngFor="let item of users">{{item}}</h3>
<h3 *ngFor="let item of userDetails">{{item.name + ' ' + item.phone}}</h3>


//nested loop
<ul *ngFor="let user of userDetails">
  <li>{{user.name}}</li>
  <li>{{user.email}}</li>
  <li>{{user.phone}}</li>
  <ul *ngFor=" let account of user.socialAccounts">
    {{account}}
  </ul>
</ul>


//style binding
<h1 [style.color]="color" [style.backgroundColor]="bgColor">{{title}}</h1>
<button (click)="updateColor()">style binding</button>