<p>get-data works!</p>
<button (click)="getData('Hello')">Click Function </button>
<br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"/> 
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown"/> 
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur"/> 
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input"/> 
<h1 (mouseover)="getData('hover')">hover</h1>
<h1 (mouseleave)="getData('leave')">leave</h1>