<h1 class="text-center bg-primary p-5">URL Shortener</h1>
<div class="row">
  <div class="col-12 col-lg-7">
    <img
      src="https://img.freepik.com/free-vector/work-office-computer-man-woman-business-character-marketing-online-employee-technology-business-man-cartoon-co-working-flat-design-freelance_1150-41790.jpg?size=626&ext=jpg" />
  </div>
  <div class="col-12  col-lg-5">
    <div class="card border-0">
      <div class="card-body">
        <form class="form" #LoginForm="ngForm">
          <div class="form-group text-center">
            <label for="input" class="h3 mt-5">Enter your URL link</label><br>
            <input type="url"  class="w-100 p-2 mb-2" placeholder="https://example.com" pattern="https://.*" name="input" required />
            <iframe src="https://giphy.com/embed/aEoP60U47mxtxFVC3f" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/puls-br-pulse-puls-pulsreportage-aEoP60U47mxtxFVC3f"></a></p>
            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-success font-weight-bold" type="button">Shorten URL</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <!-- <h4 class="text-center">Shorten URL</h4> -->
    </div>
  </div>
</div>

